{% extends 'base.html' %}

{% block title %}
Cadastrar usuário
{% endblock %}

{% block content %}
<h1>Registro</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            <div class="alert alert-danger">
                {{ field.errors }}
            </div>
            {% endif %}
        </div>
        {% endfor %}
        <div class="mt-2 button-group">
            <button type="submit" class="btn btn-primary">Criar conta</button>
            <a href="{% url 'login' %}" class="btn btn-secondary">Voltar</a>
        </div>
    </form>
{% endblock %}

{% block extra_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script>
    $(document).ready(function(){
        $('[data-mask="(00)00000-0000"]').mask('(00)00000-0000');
    });
</script>

{% endblock %}